2+2

# Heading 1
## Heading 2
### Heading 3
* Bullet point 1
** Bullet point 2
this is an MD cell

In [4]:
5**2

25

In [5]:
'string pyton tutorial'

'string pyton tutorial'

In [7]:
x = 'R'

In [8]:
print('st {} tutorial'.format(x))

st R tutorial

In [9]:
print('st {} tutorial {}'.format(x, 14))

st R tutorial 14

In [10]:
len(str1)

NameError: name 'str1' is not defined

In [17]:
str1 = 'st python tutorial'

In [18]:
str1

'st python tutorial'

In [19]:
str1.replace('python', 'sql')

'st sql tutorial'

In [20]:
x = str1.replace('python', 'sql')

In [22]:
x

'st sql tutorial'

In [23]:
x[1]

't'

In [24]:
x[2:5]

' sq'

In [25]:
x[4:6]

'ql'

In [29]:
x[-1] # last karakter

'l'

In [30]:
x[:5] # five first caracter

'st sq'

In [31]:
x[5:] # start from five first caracter untill last caracter

'l tutorial'

In [32]:
x[2:10:2] # start from two finish until 10 but get tap every 2 caracter

' q u'

In [33]:
x

'st sql tutorial'

In [34]:
type(2)

int

In [35]:
type(x)

str

# Lists

In [36]:
l1 = [1,2,3,4,5]

In [37]:
type(l1)

list

In [38]:
print(l1)

[1, 2, 3, 4, 5]

In [39]:
l1[0]

1

In [40]:
l1[0:3]

[1, 2, 3]

In [41]:
l1[:]

[1, 2, 3, 4, 5]

In [42]:
l1

[1, 2, 3, 4, 5]

In [43]:
l1[::2]

[1, 3, 5]

In [44]:
l2= [1, 'a', 1.0]

In [45]:
list(range(0,10,2))

[0, 2, 4, 6, 8]

In [47]:
l4= list(range(0,10,2))

In [48]:
l4

[0, 2, 4, 6, 8]

In [49]:
l4.sort(reverse=True)

In [50]:
l4

[8, 6, 4, 2, 0]

In [51]:
l4.append(10)

In [52]:
l4

[8, 6, 4, 2, 0, 10]

In [53]:
l4[0] = 3

In [54]:
l4

[3, 6, 4, 2, 0, 10]

In [55]:
l4[1:3] = [5,7] #change element

In [56]:
l4

[3, 5, 7, 2, 0, 10]

In [57]:
l4.insert(0, '15')

In [58]:
l4

['15', 3, 5, 7, 2, 0, 10]

In [59]:
l4.remove(3) #remove value 3

In [60]:
l4

['15', 5, 7, 2, 0, 10]

In [61]:
del l4[0] #delet just index in 0

In [62]:
l4

[5, 7, 2, 0, 10]

In [ ]:
help(list)

# Tuples

In [66]:
t1 = (1,2)

In [67]:
t1

(1, 2)

In [68]:
t1[0] = 5

TypeError: 'tuple' object does not support item assignment

In [69]:
type(t1)

tuple

## Dictionary

In [70]:
d1 = {"key1": 1,
      "key2": 2,
     "key3": 3}

In [71]:
d1

{'key1': 1, 'key2': 2, 'key3': 3}

In [72]:
type(d1)

dict

In [73]:
d1["key1"]

1

In [74]:
d1[0]

KeyError: 0